@import './../../../../dist/clr-core/module.reset.min.css';
@import './../../../../dist/clr-core/module.tokens.min.css';
@import './../../../../dist/clr-core/module.layout.min.css';
@import './../../../../dist/clr-core/module.typography.min.css';
@import '~@clr/city/css/bundles/default.min.css';

/* We dont have access to the body element to place the cds-body-text attribute */
body {
  font-family: var(--cds-token-typography-font-family);
}

.docblock-propstable-body td {
  min-width: 240px;
}

.docblock-propstable-body li {
  list-style-position: outside;
}

/* Demo Components */
cds-demo[layout],
.layout-demo {
  background: hsl(91, 56%, 78%);
  overflow: hidden;
  display: inline-block;
}

cds-demo[layout][tall] > [cds-layout],
.layout-demo.tall-demo > cds-layout {
  min-height: 300px;
}

cds-demo[layout][wide],
.layout-demo.wide-demo {
  width: 100%;
  display: block;
}

cds-demo[placeholder],
cds-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(198, 14%, 92%);
  min-width: 50px;
  min-height: 50px;
}

cds-demo[inverse] {
  background: hsl(0, 0%, 34%);
}

cds-demo[inline-block] {
  display: inline-block;
}

cds-placeholder[demo-side-bar] {
  width: 240px;
  max-width: 240px;
}

cds-placeholder[demo-content] {
  overflow-y: auto;
  justify-content: start;
  align-items: start;
  padding: 12px;
}

cds-placeholder[demo-content] > div {
  height: 1000px;
}

[demo-img] {
  width: 100%;
}

cds-card {
  background: hsl(0, 0%, 100%);
  padding: 1rem;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 3px;
  display: block;
  width: 100%;
}

.sbdocs.sbdocs-wrapper {
  padding-top: 30px;
}

.sbdocs-title,
.sbdocs .sbdocs-h1,
.sbdocs .sbdocs-h2,
.sbdocs .sbdocs-h3 {
  font-weight: 300 !important;
  margin-bottom: 24px !important;
}

.sbdocs img,
.sbdocs .sbdocs-p,
.sbdocs .sbdocs-ol,
.sbdocs .sbdocs-ul {
  margin: 0 0 24px 0 !important;
}
