:host {
  --width: initial;
  --height: var(--column-height);
  top: 0;
  z-index: 998;
  position: sticky;
}

::slotted(cds-action-button),
#line,
.sort {
  // --target-width: 36px;
}

#line {
  --color: var(--cds-alias-status-disabled);
  // --outline-offset: -12px;
  width: 20px;
}

#line:not([disabled]) {
  --cursor: ew-resize;
}

.sort {
  color: var(--cds-alias-status-disabled);
}

.ascending [direction='up'],
.descending [direction='down'] {
  --color: var(--cds-global-typography-color-500);
}

::slotted(cds-action-button) {
  --color: var(--cds-global-typography-color-500);
}

[part='column'] {
  min-height: var(--height);
  border: 0;
  font-weight: 500;
  line-height: 0;
  color: var(--cds-global-typography-color-500);
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  font-size: 14px;
  text-align: left;
  line-height: 1em;
  margin: 0;
  display: flex;
  gap: 12px;
  padding-inline: var(--cds-global-space-6) 0; // logical properties for rtl
  padding-block: var(--cds-global-space-5) var(--cds-global-space-5);
  align-items: center;
  height: 100%;
  position: sticky !important;
  background: var(--cds-alias-object-container-background-tint);
  box-shadow: 0 1px 0 var(--cds-alias-object-border-color);
}

:host([position='fixed']),
:host([position='sticky']) {
  z-index: 999;
}

::slotted([cds-layout='align:right']) {
  /* temp fix waiting on next release */
  margin-inline-start: auto;
}
