<ng-container *ngIf="step | async; let step;">
  <div *ngIf="step.status === StepStatus.Error" aria-live="assertive" class="clr-screen-reader-only">
    Please check step for errors.
  </div>
  <div *ngIf="step.status === StepStatus.Complete" aria-live="assertive" class="clr-screen-reader-only">
    Step completed.
  </div>
  <div
    role="group"
    [attr.aria-labelledby]="'clr-step-header-' + step.id + step.stepperId"
    [class.clr-step-complete]="step.status === StepStatus.Complete"
    [class.clr-step-inactive]="step.status === StepStatus.Inactive"
    [class.clr-step-active]="step.status === StepStatus.Active"
    [class.clr-step-error]="step.status === StepStatus.Error">

    <div class="clr-step-header">
      <button
        type="button"
        class="clr-step-header-button"
        (click)="selectStep()"
        [id]="'clr-step-header-' + step.id + step.stepperId"
        [attr.aria-controls]="'clr-step-content-' + step.id + step.stepperId"
        [attr.aria-expanded]="step.status === StepStatus.Active"
        [disabled]="step.status !== StepStatus.Complete">
        <div class="clr-step-status">
          <clr-icon shape="angle" dir="down" class="clr-step-angle"></clr-icon>
          <div class="clr-step-number"></div>
          <clr-icon shape="exclamation-circle" class="clr-step-error-icon"></clr-icon>
        </div>
        <ng-content select="clr-step-title"></ng-content>
      </button>
      <ng-content select="clr-step-description"></ng-content>
    </div>
    <div
      @skipInitialRender
      role="region"
      [id]="'clr-step-content-' + step.id + step.stepperId"
      [attr.aria-hidden]="step.status !== StepStatus.Active"
      [attr.aria-labelledby]="'clr-step-header-' + step.id + step.stepperId"
    >
      <div
        @collapse
        *ngIf="step.status === StepStatus.Active || step.status === StepStatus.Error"
        class="clr-step-content">
        <div class="clr-step-inner-content">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</ng-container>