<ng-container *ngIf="step | async; let step">
  <div *ngIf="step.status !== StepStatus.Inactive" aria-live="assertive" class="clr-screen-reader-only">
    <ng-container *ngIf="step.status === StepStatus.Error">Please check step for errors.</ng-container>
    <ng-container *ngIf="step.status === StepStatus.Complete">Step completed.</ng-container>
  </div>

  <div
    role="group"
    [attr.aria-labelledby]="'clr-step-header-' + step.id + step.stepperId"
    [class.clr-step-complete]="step.status === StepStatus.Complete"
    [class.clr-step-error]="step.status === StepStatus.Error"
    [class.clr-step-inactive]="step.status === StepStatus.Inactive"
    [class.clr-step-open]="step.open"
  >
    <div class="clr-step-header" [class.clr-step-header-forms]="strategy == ClrStepperStrategy.Forms">
      <button
        type="button"
        class="clr-step-header-button"
        (click)="selectStep()"
        [id]="'clr-step-header-' + step.id + step.stepperId"
        [attr.aria-controls]="'clr-step-content-' + step.id + step.stepperId"
        [attr.aria-expanded]="step.open"
        [disabled]="step.disabled"
      >
        <div class="clr-step-status">
          <clr-icon shape="angle" dir="right" class="clr-step-angle"></clr-icon>
          <div class="clr-step-number"></div>
          <clr-icon shape="exclamation-circle" class="clr-step-error-icon"></clr-icon>
          <clr-icon shape="check-circle" class="clr-step-complete-icon"></clr-icon>
        </div>
        <ng-content select="clr-step-title, clr-accordion-title"></ng-content>
      </button>
      <ng-content select="clr-step-description, clr-accordion-description"></ng-content>
    </div>
    <div
      @skipInitialRender
      role="region"
      [id]="'clr-step-content-' + step.id + step.stepperId"
      [attr.aria-hidden]="!step.open"
      [attr.aria-labelledby]="'clr-step-header-' + step.id + step.stepperId"
    >
      <div
        *ngIf="step.open"
        @toggle
        (@toggle.done)="collapseStep(step)"
        class="clr-step-content">
        <div class="clr-step-inner-content">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</ng-container>
